.dig-action-button:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  transform: scaleX(1.02);
}

.dig-action-button {
  transition: all ease 0.3s;
}

.dig-action-button.text-danger:hover {
  background-color: rgba(220, 53, 69, 0.1) !important;
}