.empty-log-box {
  background-image: url('./assets/images/svg/empty.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 400px;
  margin-top: auto;
}

.truncate-3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;   /* The number of lines to show */
  overflow: hidden;        /* Required to hide the extra text */
  line-clamp: 3;
}
